.button-class {
  background-color: green;
  border: none;
  color: #fff;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  border: 2px solid green;
}
.modal-body {
  text-align: center;
  padding: 20px;
  border: 5px solid black;
  margin: 5px;
}
body {
  padding-top: 50px;
  text-align: center;
  text-transform: capitalize;
}
.card-img-top {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.card-title {
  text-align: center;
}
.card-body {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
